#landing {
    background-image: url(../Images/css.png);
    background-size: cover;
    height: 100vh;
}

body  {
    background-color: lightgrey;
    margin = 0px;
}

h1, p {
    color = "#ffffff";
    font-size = 2em;
}

p {
    color = "#ffffff";
}

